*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:-apple-system, BlinkMacSystemFont, sans-serif;
}

body{
overflow:hidden;
background:#05060a;
color:white;
}

/* LOADER */
#loader{
position:fixed;
inset:0;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
background:black;
z-index:999;
}

.loadbar{
width:200px;
height:3px;
background:#222;
overflow:hidden;
margin-top:20px;
border-radius:10px;
}

.loadbar::after{
content:"";
width:50%;
height:100%;
background:white;
display:block;
animation:load 2s infinite;
}

@keyframes load{
0%{transform:translateX(-100%);}
100%{transform:translateX(200%);}
}

/* SCREENS */
.screen{
position:absolute;
inset:0;
display:none;
justify-content:center;
align-items:center;
}

.screen.active{
display:flex;
}

/* GLASS EFFECT */
.glass{
background:rgba(255,255,255,0.06);
backdrop-filter:blur(30px);
padding:40px;
border-radius:25px;
box-shadow:0 0 80px rgba(0,0,0,0.5);
text-align:center;
}

.center{
position:absolute;
z-index:10;
}

/* BUTTON */
button{
margin-top:20px;
padding:12px 25px;
border:none;
border-radius:999px;
background:white;
color:black;
cursor:pointer;
transition:0.3s;
}

button:hover{
transform:scale(1.05);
}

/* CURSOR */
#cursor{
position:fixed;
width:20px;
height:20px;
border-radius:50%;
background:white;
mix-blend-mode:difference;
pointer-events:none;
transform:translate(-50%,-50%);
z-index:1000;
}
